.users-div {
  width: 100%;
  height: 960px;
  margin: 0 auto;
}
.users-top-div {
  width: 50%;
  height: 2%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
.users-middle-div {
  width: 50%;
  height: 700px;
  margin: 30px auto;
  padding-top: 20px;
}
.middle-div1 {
  width: 18.5%;
  height: 600px;
  float: left;
  padding-left: 15px;
}
.middle-div-margin1 {
  margin-left: 15px;
}
.middle-div-margin2 {
  margin-left: 15px;
}
.middle-div-margin3 {
  margin-left: 15px;
}
.middle-div-margin4 {
  margin-left: 15px;
}
.img-div1 {
  height: 80px;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-style {
  width: auto;
  height: auto;
}